:root {
    /* Cores */
    --color-white-050: #ffffff;
    
    --color-gray-050: #efeeed;
    --color-gray-100: #dddcdc;
    --color-gray-150: #f6f6f6;
    --color-gray-200: #333333;
    
    --color-red-200: #eb4a46;
    
    --color-green-050: #eff3f4;
    --color-green-100: #00c8b3;

    /* Espaçamentos */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;

    /* Tipografia */
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 20px;

    /* Bordas */
    --radius-sm: 4px;
    --radius-md: 8px;
}