:root {
    /* Cores */
    --color-white: #ffffff;
    --color-gray-050: #efeeed;
    --color-gray-100: #dddcdc;
    --color-gray-150: #f6f6f6;
    --color-gray-200: #333333;
    --color-gray-250: #363636;
    --color-red-200: #eb4a46;
    --color-green-050: #fff;
    --color-green-100: #00c8b3;
    --color-purple-050: #f5f5fa;
    --color-purple-100: #6161ff;
    --color-pink-100: #db4793;

    /* Tipografia */
    --font-size-sm: 12px;
    --font-size-md: 14px;
    --font-size-lg: 18px;
    --font-size-xg: 30px;

    /* Bordas */
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-xl: 50px;
}