.formPageWrapper {
  background-color: var(--color-green-050);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  padding: 20px;
}

.formPageWrapper .boxTitle {
  flex-direction: column;
  align-items: start;
  display: flex;
}

.formPageWrapper .boxTitle h1 {
  font-size: var(--font-size-xg);
  color: var(--color-purple-100);
  margin-bottom: 10px;
  margin-top: 0;
}

.formPageWrapper .boxTitle p {
  font-size: var(--font-size-lg);
  color: var(--color-gray-250);
  margin-bottom: 10px;
  margin-top: 0;
}

@media (max-width: 600px) {
  .formPageWrapper .boxTitle h1 {
    font-size: var(--font-size-lg);
  }

  .formPageWrapper .boxTitle p {
    font-size: var(--font-size-sm);
  }
}

